<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Date and Time</title>
<style>
    .boxed1 {
  border: 2px solid black; margin: 28px; width: 219px; height: 13px; text-align: center; padding: 15px; margin-left: 334px;
}
 .boxed2{border: 2px solid black; text-align: center; margin: 28px; width: 404px; height: 127px; padding: 15px; margin-left: 267px; font-size: 50px;
 }
</style>
</head>
<body>
        <div class="boxed1">
                The current time and date is:
              </div>
        <div class="boxed2">
                {{ t }}
            </div>

</body>
</html>